* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* LEFT_SIDE */
.left_bg {
  height: 500px;
}

.header_right{
  display: flex;
  align-items: center;
}
/* RIGHT SIDE */

.chat_icon {
  font-size: 50px;
  color: #0992fa;
}
.right_side{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_text{
  font-size: 40px;
  font-weight: bolder;
}
.shop {
  color: #015da3;
}

.key {
  color: gray;
}

.card {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 25vw;
  border: 0.2px solid rgb(228, 223, 223);
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.card h1 {
  font-weight: bolder;
  font-size: 40px;
}

.card p {
  margin-top: 10px;
  color: gray;
}

.input_field {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  align-items: center;
}
.select_container{
  display: flex;
  align-items: center;
  gap:10px;
  border: 0.2px solid rgb(228, 223, 223);
  padding: 20px 15px;
  border-radius: 10px;
}
.flag{
  width:30px;
}
.select {
 border:none;
  outline: none;
  font-size: 20px;
  color: rgb(82, 79, 79);
}

.fieldset {
  padding: 15px 93px 15px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0.2px solid rgb(228, 223, 223);
  outline: none;
  color: gray;
}

.fieldset h4{
  color: rgb(82, 79, 79);
  font-size: 20px;
  font-weight: 200px;
  letter-spacing: 1px;
}

.btn {
  background-color: #098bed;
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 20px 50px;
  width: 100%;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.last_line {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  font-size: 20px;
}

.last_line a {
  text-decoration: none;
  color: #0992fa;
  font-size: 20px;
}

.anchor {
  display: flex;
  gap: 20px;
  margin-top: -20px;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 40px;
}

.footer a {
  text-decoration: none;
  color: #0992fa;
}

.footer span {
  color: grey;
}
